.footer {
    .logo {
        font-size: 1.75rem;
        font-weight: 700;
    }
    ul {
        .menu_item {
            font-size: 0.9rem;
            border-radius: 5px;
            font-weight: 500;
            &:hover {
                background-color: #aa2c3b;
                cursor: pointer;
            }
        }
    }
    a {
        text-decoration: none;
    }
}